
.img-bear{
    background-image: url('../images/barrett-ward.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 800px;
    margin: 0;
    padding: 0;
}
.important{
    width: 100%;
    background-color: yellow;
    padding: 20px 0 20px 100px;
    margin: 0;
}

.form-checked{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 100px;
    margin-top: 20px;
    padding: 20px 0;
}

.form-btn-go{
    border-style: none;
    padding: 10px 25px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid grey;
    font-size: 20px;
}

.checkbox{
    border-style: none;
    background-color: #fff;
}