.header {
    position: relative;
    background-image: url("../images/photo_header.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    height: 60vh;
    min-height: 600px;
    width: 100%;
    margin-left: -80px;
}

.header-txt,
.header-give {
    position: absolute;
    top: 40%;
    left: 85%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin: 0;
}
.header-give {
    position: absolute;
    top: 50%;
    left: 85%;
    width: 50%;
}

.header-img {
    background-image: url("../images/ornament.png");
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    top: 60%;
    left: 75%;
    height: 40px;
    width: 250px;
}

.give,
.collection {
    position: absolute;
    top: 70%;
    left: 65%;
    border-style: none;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 30px;
    font-size: 20px;
    text-transform: uppercase;
    width: 200px;
    margin: 20px;
    font-weight: 300;
    cursor: pointer;
}
.collection {
    left: 85%;
}
