.who-help-title {
    text-align: center;
    font-weight: 400;
    margin-top: 50px;
}

.ornament-who-help {
    display: block;
    margin: 0 auto;
    width: 180px;
}

.foundation-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 0;
}
.foundation-list-el {
    padding: 20px;
}

.active {
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 15px;
    height: 100%;
}
.foundation-list-el a{
    text-decoration: none;
    color: #000;
}

.foundation-txt {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    font-size: 14px;
}

.foundation-name {
    font-weight: 500;
    text-align: left;
    margin: 30px 0 0 0;
    font-size: 18px;
}

.foundation-mission {
    text-align: left;
    font-style: italic;
    font-size: 13px;
    margin: 0;
}
.foundation-mission::after {
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    background-color: #777;
    margin: 15px 0;
}
.foundation-things {
    text-align: right;
    font-size: 14px;
}

.foundation-things::after {
    content: "";
    display: block;
    width: -1%;
    height: 1px;
    background-color: #777;
    margin: 15px 0;
}

.end {
    align-items: flex-end;
}

.foundation-width {
    max-width: 1000px;
    margin: 0 auto;
}

.pagination {
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}
.pagination a {
    box-sizing: border-box;
    height: 20px;
    padding: 8px;
    text-decoration: none;
    color: #000;
}

.active {
    border: 1px solid #777;
    padding: 2px 5px;
}
